/******************** fonts ********************/
@font-face {
  font-family: amazon_ember_rg;
  src: url("../assets/fonts/AmazonUIFont-amazonember_rg-cc7ebaa05a2cd3b02c0929ac0475a44ab30b7efa._V2_.woff2");
}

/******************** var ********************/
:root {
  --orange-txt: #f08804;
  --dark-orange-txt: #c7511f;
  --light-color-txt: #fff;
  --dark-color-txt: #131921;
  --light-gray-color-txt: #a7acb2;
  --very-light-gray-color-txt: #cbced2;
  --dark-gray-color-txt: #565959;
}

body {
  font-family: amazon_ember_rg;
}

/******************** header ********************/
header {
  /* font-family: amazon_ember_rg; */
  color: var(--light-color-txt);
  height: 6rem;
  background: var(--dark-color-txt);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header--sml-txt {
  font-size: 1.2rem;
  color: var(--light-color-txt);
}

.header--big-txt {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--light-color-txt);
}

.header__links {
  text-decoration: none;
}

/********** header left **********/
.header__left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__left--icon {
  width: 11.5rem;
  height: 4.8rem;
  background: url("/assets/img/header_img/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png")
    0 -4.2rem;
  margin: 0 1rem;
}

.header-navbar__hover:hover {
  border: 1px var(--light-color-txt) solid;
}

.header__left--location {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.6rem;
  cursor: pointer;
}

.header__left--location--icon {
  width: 2.2rem;
  height: 3.5rem;
  background: url("/assets/img/header_img/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png") -7rem -36.5rem;
}

.header__left--location--info {
  font-size: 1.2rem;
  color: #c0cccc;
}

/********** header center **********/
.header__center {
  width: 91.2rem;
  height: 3.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
  color: var(--dark-color-txt);
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
  margin: 0 1rem;
}

.header__center--all {
  height: 100%;
  background: #ebebeb;
  font-size: 1.5rem;
  color: #5d5d5d;
  padding: 1rem;
  cursor: pointer;
}

.header__center--all i {
  padding-left: 1rem;
}

.header__center--all:hover {
  background: #dadada;
  color: var(--dark-color-txt);
}

.header__center--all-items {
  position: absolute;
  top: 0.6rem;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.header__center--search {
  background: var(--light-color-txt);
  font-size: 1.5rem;
  padding: 1rem;
  z-index: 2;
}

.header__center--search-bg {
  position: absolute;
  top: 0;
  right: 0;
  background: #f6bf77;
  z-index: 3;
}

.header__center--search-icon {
  width: 4.4rem;
  height: 4.5rem;
  background: url("/assets/img/header_img/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png")
    0 -73.2rem;
}

.header__center--search-bg:hover {
  background: #f3a847;
}

/********** header right **********/
.header__right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__right--flags,
.header__right--account,
.header__right--orders,
.header__right--cart {
  padding: 1rem;
  margin: 0.5rem;
}

.header__right--flags a,
.header__right--account a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header__right--flag-icon {
  width: 2.5rem;
  height: 2.5rem;
  background: url("/assets/img/header_img/flags.png") 0 -71.2rem;
}

.header__right--flags i,
.header__right--account i {
  color: var(--light-gray-color-txt);
  padding-left: 0.5rem;
  font-size: 1.5rem;
}

.header__right--cart-icon {
  width: 3.8rem;
  height: 3rem;
  background: url("/assets/img/header_img/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png") -1rem -78.6rem;
}

.header__right--cart {
  position: relative;
  padding-right: 3.2rem;
  cursor: pointer;
}

.header__right--cart-num {
  position: absolute;
  top: 0.7rem;
  left: 2.7rem;
  color: var(--orange-txt);
  font-size: 1.7rem;
}

.header__right--cart-word {
  position: absolute;
  top: 2.5rem;
  left: 5rem;
}

/******************** navbar ********************/
.navbar {
  background: #232f3e;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* font-family: amazon_ember_rg; */
  padding: 0.2rem 0;
}

.navbar--item {
  padding: 0.5rem;
  margin: 0.5rem;
}

.navbar--item a {
  font-size: 1.4rem;
  color: var(--light-color-txt);
  text-decoration: none;
}

/********** navbar left **********/
.navbar__left {
  margin-left: 1.5rem;
  display: flex;
  flex-direction: row;
}

.navbar__left--all {
  display: flex;
  flex-direction: row;
}

.navbar__left--all .header--big-txt {
  font-size: 1.4rem;
}

.navbar__left--all-icon {
  width: 2.4rem;
  height: 1.6rem;
  background: url("/assets/img/header_img/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png") -17rem -115.4rem;
}

/********** navbar right **********/
.navbar__right {
  margin-right: 1.5rem;
}

/******************** banner ********************/
.banner {
  display: flex;
  justify-content: center;
}

/******************** breadcrumbs ********************/
.breadcrumbs {
  /* font-family: amazon_ember_rg; */

  padding-left: 4rem;
}

.breadcrumbs a {
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--dark-gray-color-txt);
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.breadcrumbs i {
  font-size: 0.8rem;
  color: var(--dark-gray-color-txt);
  padding: 0.2rem;
}

/******************** main ********************/
main {
  display: flex;
  justify-content: space-between;
}

/********** main left **********/
.main__left {
  display: flex;
  padding: 2rem 3rem;
  position: sticky;
}

.main__left--sml {
  padding: 4rem 5rem 0 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.main__left--sml > li {
  list-style-type: none;
}

.main__left--sml > li > img {
  border: 1px var(--light-gray-color-txt) solid;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.main__left--sml > li > img:hover {
  border: 0.1rem var(--orange-txt) solid;
  box-shadow: 0.1rem 0.1rem 0.5rem var(--orange-txt);
}

.main__left--big--imgs {
  position: absolute;
  left: 9rem;
  top: 0;
  opacity: 0;
}

.main__left--sml > li:hover .main__left--big--imgs {
  opacity: 1;
}

.main__left--big--imgs > img {
  width: 49rem;
  height: 45.3rem;
  /* object-fit: cover; */
}

.main__left--big {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__left--big--img > img {
  width: 49rem;
  height: 45.3rem;
  object-fit: cover;
}

.main__left--big--txt {
  color: var(--dark-gray-color-txt);
  font-size: 1.4rem;
  padding-top: 1rem;
}

/********** main center **********/
.main__center {
  width: 58rem;
  font-size: 1.4rem;
  line-height: 1.4;
  color: var(--dark-gray-color-txt);
  position: relative;
}

.main__center--links {
  color: #2b7174;
  font-size: 1.4rem;
  text-decoration: none;
}

.main__center--links:hover {
  color: var(--dark-orange-txt);
  text-decoration: underline;
}

.main__center__up {
  border-bottom: 1px solid var(--very-light-gray-color-txt);
  padding-top: 2.5rem;
}

.main__center__up h1 {
  color: var(--dark-gray-color-txt);
  font-size: 2.5rem;
  line-height: 1.4;
  font-weight: 200;
  margin: 0.5rem;
}

.main__center__up--stars {
  display: flex;
  cursor: pointer;
}

.main__center__up--stars i,
.main__center__middle i,
.main__right--container i {
  color: var(--light-gray-color-txt);
  font-size: 0.8rem;
  padding: 0.5rem;
  margin-right: 1.5rem;
}

.main__center__up--stars-icon {
  width: 8.4rem;
  height: 1.5rem;
  background: url("/assets/img/stars.png") -8.2rem -2.9rem;
}

.main__center__middle {
  padding-top: 1.5rem;
  line-height: 1.8;
}

.main__center__middle--delete-num {
  padding-right: 0.5rem;
  text-decoration: line-through;
}

.main__center__middle--tab {
  padding-left: 2.6rem;
}

.main__center__middle--tab > .main__center__middle--red-txt {
  font-size: 1.8rem;
  line-height: 1.2;
}

.main__center__middle--red-txt {
  color: #b12704;
  padding-top: 0.5rem;
}

.main__center--dark-txt {
  color: black;
}

/* list */
.main__center--sml {
  padding-top: 1rem;
  display: flex;
  position: relative;
}

.main__center--sml > li {
  list-style-type: none;
}

.main__center--sml > li > img {
  border: 1px var(--light-gray-color-txt) solid;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  cursor: pointer;
}

.main__center--big--imgs {
  position: absolute;
  left: -52rem;
  top: -28.7rem;
  opacity: 0;
}

.main__center--sml > li:hover .main__center--big--imgs {
  opacity: 1;
}

.main__center--big--imgs > img {
  width: 49rem;
  height: 45.3rem;
}

/* info */
.main__center__down {
  margin-left: 2rem;
}

/********** main right **********/
.main__right {
  display: flex;
  flex-direction: column;
  margin: 3rem;
}

.main__right--container {
  width: 24.4rem;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--very-light-gray-color-txt);
  border-radius: 1rem;
  padding: 2rem 2rem 1rem 2rem;
  font-size: 1.4rem;
  line-height: 1.5;
  color: var(--dark-gray-color-txt);
}

.main__right--red-txt {
  color: #b12704;
  font-size: 1.8rem;
  padding-bottom: 0.5rem;
}

.main__right--Details {
  display: flex;
  cursor: pointer;
  padding-bottom: 1.5rem;
}

.main__center--dark-txt-bold {
  font-weight: bold;
}

.main__right--location {
  display: flex;
  padding-top: 2rem;
  cursor: pointer;
}

.main__right--location--icon {
  width: 1.3rem;
  height: 1.6rem;
  object-fit: cover;
}

.main__right--location--info {
  font-size: 1.2rem;
  padding-left: 1rem;
}

.main__right--location--info:hover {
  text-decoration: none;
}

.main__center__right--green-txt {
  color: #007600;
  font-size: 1.9rem;
  padding: 0.8rem 0;
}

.main__right--qty-container {
  position: relative;
}

.main__right--qty {
  background: #ebebeb;
  font-size: 1.2rem;
  color: var(--dark-color-txt);
  padding: 0 0.4rem;
  cursor: pointer;
  width: max-content;
  border: 1px solid var(--very-light-gray-color-txt);
  box-shadow: 0.1rem 0.1rem 0.4rem var(--very-light-gray-color-txt);
  border-radius: 0.8rem;
  margin-bottom: 1rem;
}

.main__right--qty:hover {
  background: #dadada;
}

.main__right--qty i {
  margin-right: 0;
  color: var(--dark-gray-color-txt);
  font-size: 1.3rem;
}

.main__right--qty-num {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  width: 6.1rem;
  height: 2.4rem;
}

.main__right--btn {
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  border-color: transparent;
  border-radius: 10rem;
  font-size: 1.3rem;
  cursor: pointer;
}

.main__right--btn-yellow {
  background-color: #ffdb3c;
}

.main__right--btn-yellow:hover {
  background-color: #f7ca00;
}

.main__right--btn-orange {
  background-color: #fba02b;
}

.main__right--btn-orange:hover {
  background-color: var(--orange-txt);
}

.main__right--secure {
  display: flex;
  cursor: pointer;
  padding-top: 1rem;
}

.main__right--secure > img {
  width: 1.3rem;
  height: 1.7rem;
  object-fit: cover;
}

.main__right--secure .main__center--links {
  padding-left: 1.5rem;
}

.main__right--secure .main__center--links:hover {
  text-decoration: none;
}

.main__right--ships {
  display: flex;
  padding: 1rem 0;
}

.main__right--ships > ul {
  list-style-type: none;
  padding-right: 1rem;
  font-size: 1.2rem;
}

.main__right--ships .main__center--links {
  font-size: 1.2rem;
}

.main__center--dark-txt .main__center--links {
  cursor: pointer;
}

.main__right--gift {
  display: flex;
  padding: 0.5rem 0 2rem 0;
  border-bottom: 1px solid var(--very-light-gray-color-txt);
}

.main__right--gift .main__center--dark-txt {
  padding-left: 0.5rem;
}

.main__right--gift--checkbox {
  margin-top: 0.5rem;
}

.main__right--btn-list {
  margin-top: 1rem;
  padding: 0.8rem 12rem 0.8rem 0.8rem;
  border: 1px solid var(--light-gray-color-txt);
  box-shadow: 0.1rem 0.1rem 0.4rem var(--light-gray-color-txt);
  border-radius: 0.5rem;
  align-self: flex-start;
}

/* contact */
.main__right--contact {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 1rem;
}

.main__right--contact a {
  padding-right: 0.5rem;
}

.main__right--contact .main__center--links {
  font-size: 1.3rem;
}

.main__right--email-icon {
  width: 2.4rem;
  height: 1.8rem;
  background: url("/assets/img/main_right_img/follow_me_icons.png") -25.5rem -22rem;
}

.main__right--facebook-icon {
  width: 2rem;
  height: 2rem;
  background: url("/assets/img/main_right_img/follow_me_icons.png") -23.6rem -15rem;
}

.main__right--twitter-icon {
  width: 2rem;
  height: 2rem;
  background: url("/assets/img/main_right_img/follow_me_icons.png") -19.2rem -10.4rem;
}

.main__right--pinterest-icon {
  width: 2rem;
  height: 2rem;
  background: url("/assets/img/main_right_img/follow_me_icons.png") -13.7rem -26.8rem;
}

/* sell */
.main__right--sell {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__right--sell > p {
  font-size: 1.3rem;
}

.main__right--sell .main__right--btn {
  border: 1px solid var(--very-light-gray-color-txt);
  box-shadow: 0.1rem 0.1rem 0.4rem var(--very-light-gray-color-txt);
  background: var(--light-color-txt);
  border-radius: 0.5rem;
  padding: 0.8rem;
}

/******************** carusel ********************/
.carusel {
  border-top: 1px solid var(--very-light-gray-color-txt);
  margin: 3rem;
  padding-top: 2rem;
}

/********** carusel top **********/
.carusel__top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.carusel__top--left h2 {
  font-size: 2.5rem;
  color: var(--dark-color-txt);
  padding-bottom: 1rem;
}

.carusel__top--left > a {
  font-size: 1.1rem;
  color: var(--dark-gray-color-txt);
  text-decoration: none;
}

.carusel__top--left > a:hover {
  color: var(--dark-color-txt);
}

.carusel__top--left > a > i {
  color: var(--light-gray-color-txt);
}

.carusel__top--left > a:hover i {
  color: var(--dark-color-txt);
}

.carusel__top--right {
  font-size: 1.5rem;
}

/********** carusel bottom **********/
.carusel__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.carusel__bottom--btn {
  background: var(--light-color-txt);
  font-size: 1.5rem;
  color: var(--dark-gray-color-txt);
  padding: 1rem 1.2rem;
  border: 1px solid var(--very-light-gray-color-txt);
  box-shadow: 0.1rem 0.1rem 0.4rem var(--very-light-gray-color-txt);
  border-radius: 0.5rem;
  cursor: pointer;
}

.carusel__bottom--btn:hover {
  background: #f7fafa;
}

.carusel__bottom--info {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 3rem;
  overflow: hidden;
}

/* card */
.carusel__bottom--card {
  width: 16.2rem;
  height: 28.8rem;
  cursor: pointer;
  line-height: 1.4;
}

.carusel__bottom--card > a {
  overflow: hidden;
  width: 100%;
  height: 7.7rem;
}

.carusel__bottom--stars,
.carusel__bottom--price {
  display: flex;
  padding: 0.2rem 0;
}

.carusel__bottom--stars-icon-4 {
  width: 8rem;
  height: 1.5rem;
  background: url("/assets/img/stars.png") -8.4rem -0.8rem;
}

.carusel__bottom--stars-icon-4_5 {
  width: 8rem;
  height: 1.5rem;
  background: url("/assets/img/stars.png") -8.4rem -2.8rem;
}

.carusel__bottom--stars-icon-5 {
  width: 8rem;
  height: 1.5rem;
  background: url("/assets/img/stars.png") -16.6rem -3.6rem;
}

.carusel__bottom--price--prime-icon {
  width: 5.4rem;
  height: 1.6rem;
  background: url("/assets/img/main_right_img/follow_me_icons.png") -18.4rem -18.2rem;
  margin-top: 0.5rem;
}

.carusel__bottom--stars-num {
  color: #2b7174;
  font-size: 1.4rem;
  padding-left: 1rem;
}

.carusel__bottom--price-num {
  color: #b12704;
  font-size: 1.8rem;
  padding-right: 1rem;
}

.myCards {
  display: none;
}
